/* lato-300 - latin */

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("assets/lato-v16-latin-300.woff2") format("woff2"),
    url("assets/lato-v16-latin-300.woff") format("woff");
  font-display: swap;
}

/* lato-regular - latin */

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("assets/lato-v16-latin-regular.woff2") format("woff2"),
    url("assets/lato-v16-latin-regular.woff") format("woff");
  font-display: swap;
}

/* lato-700 - latin */

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("assets/lato-v16-latin-700.woff2") format("woff2"),
    url("assets/lato-v16-latin-700.woff") format("woff");
  font-display: swap;
}

/* lato-900 - latin */

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("assets/lato-v16-latin-900.woff2") format("woff2"),
    url("assets/lato-v16-latin-900.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #f0d8d9;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  max-width: 1020px;

  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

/*contact*/

.contact__container {
  flex-direction: column;
  align-items: flex-start;

  background-color: #f06c64;
}

.contact__container::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;

  width: 1020px;
  height: 6px;

  background-color: #ea676b;
}

.contact__heading {
  font-size: 30px;
  font-weight: 900;

  margin-top: 62px;
}

.contact__paragraph {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;

  margin-top: 20px;
}

.contact__wrapper {
  font-size: 12px;

  display: flex;

  margin-top: 45px;
}

.contact__information-heading {
  font-size: 18px;
  font-weight: 900;
}

.contact__information-paragraph {
  letter-spacing: 0.1px;
  line-height: 1.84;
  text-align: justify;

  width: 300px;

  padding-top: 10px;
}

.contact__list {
  line-height: 1.9;

  list-style: none;

  padding-top: 20px;
}

.contact__link {
  color: #f0d8d9;

  position: relative;

  padding-left: 24px;
}

.contact__link-location::before {
  content: "";

  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);

  width: 7px;
  height: 11px;

  background-image: url("assets/icon-location.png");
}

.contact__link-tel::before {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 11px;
  height: 11px;

  background-image: url("assets/icon-phone.png");
}

.contact__link-mail::before {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 13px;
  height: 8px;

  background-image: url("assets/icon-mail.png");
}

.contact__information-heading {
  line-height: 18px;
}

/*form*/

.form__input {
  font-size: 12px;

  width: 619px;
  height: 38px;

  padding-left: 16px;

  border: none;
  border-radius: 5px;
  background-color: #d6564f;
}

.form__input-email {
  margin-top: 16px;
}

.form__input-subject {
  margin-top: 16px;
}

.form__textarea {
  font-family: inherit;
  font-size: 12px;

  width: 619px;
  min-height: 202px;

  margin-top: 16px;
  margin-bottom: 62px;
  padding-left: 16px;
  padding-top: 10px;

  resize: none;

  border: none;
  border-radius: 5px;
  background-color: #d6564f;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: #f48c8f;
  opacity: 1;
}

/*footer*/

.footer__container {
  min-height: 76px;

  padding-left: 42px;

  background-color: #2d303a;
}

.footer__copyright {
  font-size: 12px;
  color: #626984;
}

.footer__list {
  display: flex;

  list-style: none;
}

.footer__item + .footer__item {
  margin-left: 8px;
}
